@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
  margin: 0;
  padding: 0;

  font-family: 'Patrick Hand', cursive;

  background-image: url(./img/sign-in-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vh-set {
  height: 100vh;
}

.content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.black-glass {
  box-shadow: 0 0 2rem #000;

  background-color: #000d;
  color: #fafafa;
}

.search-form {
  flex: 1;

  padding: 2rem;
  margin: 1rem;

  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

#searchBtn {
  width: 200px;
  margin: 0 auto;
}

.sign-in-card {
  flex: 1;

  padding: 2rem;
  margin: 1rem;

  min-height: 400px;
  max-height: 600px;
  min-width: 280px;
  max-width: 400px;

  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;

  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
}

.text-input {
  padding: 0.5rem 1rem;

  border: 2px solid #00aeff;
  border-radius: 1rem;

  background-color: #fafafa;

  font-size: 1rem;
}

.wrong-value {
  border-color: #f00;
}

.btn {
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 1rem;

  background-color: #fafafa;

  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;

  transition: all 250ms;
}

.btn:hover {
  filter: brightness(80%);
}

.btn:active {
  transform: scale(95%);
}

.suggested {
  background-color: #00aeff;

  color: #fafafa;
}

.sign-in-form {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.recipe-container {
  flex: 1;

  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.recipe-card {
  padding: 1rem;

  border-radius: 2rem;

  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-title {
  margin: 0;

  font-size: 2rem;
  text-align: center;
}

.recipe-img {
  width: 90%;
  height: 100%;

  object-fit: cover;

  border-radius: 2rem;
  border: 2px solid #fafafa;
}

.footer {
  padding: 0.5rem;

  box-shadow: 0 0 2rem #000;

  background-color: #000d;
  color: #fafafa;

  display: flex;
  justify-content: center;
  align-items: center;
}